<!DOCTYPE html>
<html lang="en">

<head>
    <title>PhongA</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Lingua project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%include ../js-css/css.ejs%>
    <link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css">
</head>

<body>

    <div class="super_container">
        <!-- Header -->
        <%include ../layout/header.ejs%>
        <%include ../layout/menu.ejs%>
        <!-- Menu -->
        <div class="home">
        <div class="home_background" style="background-image: url(/images/index_background.jpg);"></div>
        <div class="home_content">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="home_text">Learn Languages Easily</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Instructors -->
        <!-- Register -->
        <div class="register"  style="background-image:url(/images/instructors_background.png);" >
        <div class="container ">
        <div class="row justify-content-center align-items-center" >
        <div class="col-lg-6">
            <%include ../layout/auth/register-form.ejs%>
        </div>
        </div>
        </div>
    </div>
        <!-- Blog -->
        <!-- Footer -->
        <%include ../layout/footer.ejs%>

    </div>

    <%include ../js-css/js.ejs%>
</body>

</html>