<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="P/D | Đăng kí">
	<meta name="author" content="Ansonika">
	<title>P/D | Đăng kí</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">


	<!-- BASE CSS -->
    <%include ../../include/auth/css.ejs%>

</head>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

    <%include ../../partials/common/header-auth.ejs%>

	<main>
		<div id="form_container">
			<div class="row">

				<div class="col-lg-5">
					<div id="left_form">
						<figure><img src="homepage/images/registration_bg.svg" alt=""></figure>
						<h2>Đăng kí</h2>
						<p>Đăng kí thành viên ngay để nhận được những ưu đãi bất ngờ.</p>
						<a href="#0" id="more_info" data-toggle="modal" data-target="#more-info"><i class="pe-7s-info"></i></a>
					</div>
				</div>
				<!-- End col-->

				<div class="col-lg-7">

					<div id="wizard_container">
						<div id="top-wizard">
							<div id="progressbar"></div>
						</div>
						<!-- /top-wizard -->
						<form action="/register" method="POST">
							<input id="website" name="website" type="text" value="">
							
							<div id="middle-wizard">
								<div class="step">
									<h3 class="main_question"><strong>1/2</strong>Thông tin cá nhân</h3>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" name="registerFullname" class="form-control required" placeholder="Họ và tên">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input type="number" name="registerIdentityNumber" class="form-control required" placeholder="CMND">
											</div>
										</div>
									</div>
									<!-- /row -->

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" name="registerAddress" class="form-control required" placeholder="Địa chỉ">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input type="number" name="registerPhone" class="form-control" placeholder="Số điện thoại">
											</div>
										</div>
									</div>
									<!-- /row -->

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="number" name="age" class="form-control" placeholder="Tuổi">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group radio_input">
												<label><input type="radio" value="Male" checked name="registerGender" class="icheck">Nam</label>
												<label><input type="radio" value="Female" name="registerGender" class="icheck">Nữ</label>
											</div>
										</div>
									</div>
									<!-- /row -->

								</div>
								<!-- /step-->

								<div class="submit step">
									<h3 class="main_question"><strong>2/2</strong>Thông tin đăng nhập</h3>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="email" name="registerEmail" class="form-control required" placeholder="Email">
											</div>

										</div>
										<!-- /col-sm-12 -->
									</div>
									<!-- /row -->
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="password" name="registerPassword" class="form-control required" placeholder="Mật khẩu">
											</div>
										</div>
										<!-- /col-sm-12 -->
									</div>
								</div>
								<!-- /step-->
								<!--<div class="submit step">
									<h3 class="main_question"><strong>3/3</strong>Send an optional message</h3>
									<div class="form-group">
										<textarea name="additional_message" class="form-control" style="height:150px;" placeholder="Hello world....write your messagere here!"></textarea>
									</div>
									<div class="form-group terms">
										<input name="terms" type="checkbox" class="icheck required" value="yes">
										<label>Please accept <a href="#" data-toggle="modal" data-target="#terms-txt">terms and conditions</a> ?</label>
									</div>
								</div> -->
								<!-- /step-->
							</div>
							<!-- /middle-wizard -->

							<div id="bottom-wizard">
								<button type="button" name="backward" class="backward">Quay lại</button>
								<button type="button" name="forward" class="forward">Tiếp theo</button>
								<button type="submit" name="process" class="submit">Đăng kí</button>
							</div>
							<!-- /bottom-wizard -->

						</form>
					</div>
					<!-- /Wizard container -->

				</div>
				<!-- End col-->

			</div>
			<!-- End row -->

		</div>
		<!-- End form_container -->

	</main>
	<!-- End main-->

	<footer id="home" class="clearfix">
		<p>© 2019 P/D</p>
		<ul>
			<li><a href="/login" class="animated_link">Đăng nhập</a></li>
			<li><a href="#" class="animated_link">Chuyến bay</a></li>
			<li><a href="#" class="animated_link">FeedBack</a></li>
		</ul>
	</footer>
	<!-- End footer-->

	<%include ../../partials/common/notification.ejs%>
	<!-- End notification -->

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- cd-overlay-content -->

	<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>

	<!-- BASE JS -->
    <%include ../../include/auth/js.ejs%>

</body>
</html>