<div class="col-lg-4 course_col">
<div class="course">
    <div class="course_image"><img src="/images/course_1.jpg" alt=""></div>
    <div class="course_body">
        <div class="course_title"><a href="course.html">"engage /in'geidʤ/" bcxadsdj</a></div>
        <div class="course_text">
            <p><b>Giải thích: </b>to become involved in, to participate"<br>
            <b>Từ loại: (v):</b> (v)Tham gia, cam kết, (n)sự hứa hẹn, hứa hôn<br>
            Ví dụ: He engaged us in a fascinating discussion about current business law<br>
            Anh ấy cùng chúng tôi thảo luận sôi nổi về luật kinh doanh hiện hành
            </p>
        </div>
    </div>
    <div class="course_footer d-flex flex-row align-items-center justify-content-start">
        <div class="course_mark course_free trans_200"><a href="#">Learn</a></div>
    </div>
</div>
</div>

