<form action="/payment" method="POST">
<div class="row">
            <div id="item1" class="flight-item">
              <div class="flight-info">
                <div class="flight-info-col" style="width: 180px">
                  <div class="flight-img">
                    <img src="https://tvlk.imgix.net/imageResource/2015/12/17/1450350670702-a9dba44d3e9fe096f83ffe00d56a99ec.png?auto=compress%2Cformat&cs=srgb&fm=png&ixlib=java-1.1.12&q=75"/>
                  </div>
                  &nbsp;
                  <span>VietJet Air</span>
                </div>
                <div class="">
                  <div class="flight-info-col">
                    <div class="flight-info-time">
                      <strong>05:00</strong>
                    </div>
                    <div class="flight-info-departure">
                      <span>Hà nội(HAN)</span>
                    </div>
                  </div>
                  <div class="flight-info-col">
                    <span class="flight-icon">
                      <svg viewBox="0 0 30 12" class="flight-icon-svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round" width="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="one-way-search-result" transform="translate(-442.000000, -577.000000)" fill="#dadada"><g id="Search-Result" transform="translate(160.000000, 512.000000)"><g id="flight" transform="translate(282.000000, 65.000000)"><circle id="terminal" cx="28" cy="6" r="2"></circle><path d="M16.0179964,9.22345305 L16.0179964,0.765156285 C16.0179964,0.21441576 15.5702811,-0.230421215 15.0179964,-0.230421215 C14.4618612,-0.230421215 14.0179964,0.215314015 14.0179964,0.765156285 L14.0179964,9.22345305 L12.0179964,11.4182658 L12.0179964,11.5195401 C12.0179964,12.069315 12.4356135,12.362907 12.9507703,12.1744615 L15.0179964,11.4182658 L17.0852225,12.1744615 C17.6008593,12.3630826 18.0179964,12.0696887 18.0179964,11.5195401 L18.0179964,11.4182658 L16.0179964,9.22345305 Z M9.0179964,7.59197848 C9.0179964,7.0414185 9.41033801,6.38585258 9.90038647,6.12449341 L14.0179964,3.92843478 L14.0179964,6.59510144 L9.0179964,7.92843478 L9.0179964,7.59197848 Z M21.0179964,7.59197848 C21.0179964,7.0414185 20.6256548,6.38585258 20.1356063,6.12449341 L16.0179964,3.92843478 L16.0179964,6.59510144 L21.0179964,7.92843478 L21.0179964,7.59197848 Z" id="ic_flight-duration-copy-8" transform="translate(15.017996, 6.000607) rotate(90.000000) translate(-15.017996, -6.000607) "></path><circle id="terminal" cx="2" cy="6" r="2"></circle></g></g></g></g></svg>
                    </span>
                  </div>
                  <div class="flight-info-col" style="margin-right: 2rem">
                    <div class="flight-info-time">
                      <strong>05:00</strong>
                    </div>
                    <div class="flight-info-arrival">
                      <span>TP HCM(SGN)</span>
                    </div>
                  </div>
                  <div class="flight-info-col">
                    <div class="flight-info-time">
                      <strong>2h:50</strong>
                    </div>
                    <div class="flight-info-arrival">
                      <span>Bay thẳng</span>
                    </div>
                  </div>
                </div>
                <div class="flight-pay float-right">
                  <div class="flight-price">
                    <span>1.266.000</span>
                    <strong> / Khách</strong>
                  </div>

                </div>
              </div>
              <div class="flight-detail">
                <div class="flight-detail-btn">
                  <strong>
                    Chi tiết chuyến bay
                  </strong>
                </div>
              </div>
              <div class="flight-detail-info">
                <hr/>
                <div class="flight-info-col" style="width: 180px; padding-top:0">
                  <div class="flight-detail-img">
                    <img src="https://tvlk.imgix.net/imageResource/2015/12/17/1450350670702-a9dba44d3e9fe096f83ffe00d56a99ec.png?auto=compress%2Cformat&cs=srgb&fm=png&ixlib=java-1.1.12&q=75"/>
                  </div>
                  <span>VietJet Air</span>
                  <p>Phổ thông</p>
                </div>
                <div class="flight-info-col" style="width: 350px; padding-top:0">
                  <div class="flight-detail-time">
                    <div class="flight-detail-departure">
                      <div class="flight-time-departure">
                        <strong>20:10</strong>
                        <p>01 Th06 2019</p>
                      </div>
                      <div class="flight-time-departure">
                        <strong>Hà Nội (HAN)</strong>
                        <p>Sân bay Nội Bài</p>
                      </div>
                    </div>
                    <div class="flight-detail-icon">
                      <svg fill="#1BA0E2" class="_1bAqu" height="24" stroke="currentColor" stroke-linecap="round" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path stroke-width="0" d="M18,16 L18.9906311,16 C19.5480902,16 20,16.4438648 20,17 C20,17.5522847 19.5566468,18 18.9906311,18 L17.0093689,18 C16.7291101,18 16.4755289,17.8878128 16.292637,17.7055736 C16.1119255,17.5281825 16,17.2782339 16,17.0001925 L16,13.9998075 C16,13.4476291 16.4438648,13 17,13 C17.5522847,13 18,13.4437166 18,13.9998075 L18,16 Z M8.24178776,9.8546238 C7.88429748,8.52045191 8.67602584,7.1500796 10.0111732,6.79232794 L13.8716395,5.75791912 C15.2073171,5.40002538 16.5765677,6.18711609 16.9351202,7.52525239 C17.2926105,8.85942429 16.5008821,10.2297966 15.1657347,10.5875483 L11.3052685,11.6219571 C9.96959081,11.9798508 8.6003403,11.1927601 8.24178776,9.8546238 Z M10.1736394,9.33698571 C10.2458694,9.60655185 10.5172538,9.7625526 10.7876304,9.69010542 L14.6480966,8.6556966 C14.916569,8.58375965 15.0748062,8.30987283 15.0032685,8.04289048 C14.9310385,7.77332434 14.6596542,7.61732359 14.3892776,7.68977078 L10.5288113,8.72417959 C10.260339,8.79611654 10.1021017,9.07000336 10.1736394,9.33698571 Z M7.61026575,11.5767539 C6.92028219,11.7616344 6.22334496,11.6924001 5.61875995,11.4258618 C4.82800188,11.1720883 4.10713778,10.6968928 3.6367359,10.0623577 L1.53335431,7.2250616 C0.453665967,5.76864706 1.0751464,4.01034821 2.83907916,3.53770385 L3.47971758,3.3660453 C4.34110721,3.13523665 5.46249313,3.39785772 6.12274898,3.98501165 L6.61614309,4.42377836 C6.69638727,4.4951381 6.85132084,4.5331793 6.95763808,4.50469168 L15.9818584,2.08665912 C16.7958195,1.8685589 17.6216936,2.07404086 18.2246624,2.56929054 C19.648346,2.44645733 20.9934361,3.35257703 21.3765208,4.78226843 C21.8050529,6.38157206 20.8532813,8.02829857 19.2513431,8.45753661 L18.2873459,8.71583887 C17.754945,8.85849527 17.2084681,8.54540064 17.0645297,8.00821531 C16.9215879,7.4747492 17.2357245,6.92706763 17.7745052,6.78270178 L18.7432997,6.52311408 C19.2719819,6.38145409 19.587592,5.83330189 19.4446691,5.29990652 C19.3004045,4.76150374 18.75846,4.44849952 18.2256616,4.59126243 L17.649211,4.74572189 C17.4232492,4.80626817 17.2072309,4.67708021 17.1495403,4.46177598 L17.1245889,4.36865587 C17.052226,4.09859378 16.7819605,3.94282478 16.5139114,4.01464831 L6.49747753,6.69854369 C6.39088868,6.72710408 6.23643368,6.69351276 6.15479931,6.62289729 L4.81765611,5.46623978 C4.66096258,5.33069652 4.23048366,5.2354305 4.01690158,5.29265965 L3.36410336,5.4675764 C2.95716755,5.57661452 2.90712781,5.71215141 3.14694458,6.02880743 L5.2649094,8.82538538 C5.48677287,9.1183357 5.86898334,9.97277674 7.14071508,9.63201725 L7.15162731,9.62909332 C7.68223539,9.48691731 8.2272589,9.80040138 8.37119728,10.3375867 C8.51413909,10.8710528 8.19163219,11.4209772 7.66509197,11.5620632 L7.61026575,11.5767539 Z M17,23 C13.6862915,23 11,20.3137085 11,17 C11,13.6862915 13.6862915,11 17,11 C20.3137085,11 23,13.6862915 23,17 C23,20.3137085 20.3137085,23 17,23 Z M17,21 C19.209139,21 21,19.209139 21,17 C21,14.790861 19.209139,13 17,13 C14.790861,13 13,14.790861 13,17 C13,19.209139 14.790861,21 17,21 Z"></path></svg>
                      &nbsp;
                      <p><span>2h 10m</span></p>
                    </div>
                    <div class="flight-detail-departure">
                      <div class="flight-time-departure">
                        <strong>20:10</strong>
                        <p>01 Th06 2019</p>
                      </div>
                      <div class="flight-time-departure">
                        <strong>TP HCM (SGN)</strong>
                        <p>Sân bay Tân Sân Nhất</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flight-info-col" style="width: 300px; padding-top:0">
                  <div class="flight-detail-time">
                    <div class="flight-airplane-detail">
                      <p><strong>Máy bay</strong>&nbsp;Airbus A320</p>
                      <p><strong>Sơ đồ ghế ngồi</strong>&nbsp;3-3</p>
                      <p><strong>Khoảng cách ghế</strong>&nbsp;29inch (Tiêu chuẩn)</p>
                      <p><strong>Hành lý xách tay</strong>&nbsp;7KG</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                              <button type="submit" class="btn flight-pay-button">Chọn</button>
        </div>
        </form>