<!-- Modal -->
<div id="modelRegisterSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fas fa-info-circle text-primary" style="font-size: 48px"></i>
                <%if(typeof notify === 'string'){%>
                <p><%-notify%></p>
                <%}%>
            </div>
        </div>

    </div>
</div>