
<!-- Nhớ kiểm tra khứ hồi thì mới đổ dữ liệu cái này ra :v -->

<div class="px-3">
    <hr style="margin-bottom: 0"/>
</div>
<!-- End divide -->

<div class="middle-info" style="margin-top: .5rem; padding-bottom: 1.5rem">
    <h4>Mon, 3 Jun 2019</h4>
    <div class="info">
        <div class="info-img" style="background-image: url(&quot;https://tvlk.imgix.net/imageResource/2015/12/17/1450350670702-a9dba44d3e9fe096f83ffe00d56a99ec.png?auto=compress%2Cformat&amp;cs=srgb&amp;fm=png&amp;ixlib=java-1.1.12&amp;q=75&quot;);"></div>
        <div class="info-airplane" style="margin: 0 0 0 1rem">
            <p class="margin-0"><span>VietJet Air VJ-119</span></p>
            <strong>Economy</strong>
        </div>
    </div>
    <div class="info-time">
        <div class="info-airplane">
            <strong>05:00</strong>
            <p class="margin-0"><span>Hanoi (HAN)</span></p>
        </div>
        <div class="info-airplane">
            <i class="fas fa-long-arrow-alt-left"></i>
        </div>
            <div class="info-airplane">
            <strong>05:00</strong>
            <p class="margin-0"><span>Hanoi (HAN)</span></p>
        </div>
        <div class="info-airplane">
            <strong>05:00</strong>
            <p class="margin-0"><span>Bay thẳng</span></p>
        </div>
    </div>
</div>
<!-- End middle-info(round trip) -->