<!DOCTYPE html>
<html lang="en">

<head>
    <title>PhongA</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Lingua project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="super_container">
        <!-- Header -->
                <!-- Home -->
                <div class="home">
                    <div class="home_background" style="background-image: url(/images/index_background.jpg);"></div>
                    <div class="home_content">
                        <div class="container">
                            <div class="row">
                                <div class="col text-center">
                                    <h1 class="home_title">Learn Languages Easily</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Language -->
                <!-- Courses -->
                <div class="courses">
                    <div class="courses_background"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h2 class="section_title text-center">Newest Online Courses</h2>
                            </div>
                        </div>
                        <div class="row courses_row">

                            <!-- Course -->
                        </div>
                    </div>
                </div>
                <!-- Instructors -->

                <!-- Register -->
                <!-- Blog -->
                <!-- Footer -->
    </div>
</body>

</html>