<!-- Register Form -->
<div class="register_form_container">
    <div class="register_form_title">Forgot Password</div>
    <form action="/auth/forgotpassword" id="register_form" class="register_form" method='POST'>
        <%if(typeof forgotPasswordError === 'string'){%>
            <div class="alert alert-warning">
                <%=forgotPasswordError%>
            </div>
            <%}%>

                <div class="row register_row">
                    <div class="col-lg-6 register_col">
                        <input type="email" class="form_input" placeholder="Email" required="required" name="forgotEmail" value="<%if(typeof inputData === 'object'){%><%=inputData.email%><%}%>">
                    </div>
                    <div class="col-lg-6 register_col">
                        <input type="text" class="form_input" placeholder="Username" required="required" name="forgotUsername" value="<%if(typeof inputData === 'object'){%><%=inputData.username%><%}%>">
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="form_button trans_200">Submit</button>
                </div>
    </form>
</div>