<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="P/D | Đăng nhập">
	<meta name="author" content="Airplane-Ticket">
	<title>P/D | Đăng nhập</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

	<!-- BASE CSS -->
    <%include ../../include/auth/css.ejs%>

</head>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

    <%include ../../partials/common/header.ejs%>
	<!-- End header-->

	<main class="my-3 mx-3">
		<div class="container">

			<div id="form_container" class="form_size">

				<div class="row">

					<div class="col-12 ">
						<div class="container">

							<form action="/login" method="POST">
								<input id="website" name="website" type="text" value="">

								<div id="middle-wizard" style="padding: 2rem .5rem 0 .5rem">
									<div class="col-lg-12">
										<div class="step">
											<h3 class="main_question text-center">Đăng nhập</h3>
											<p class="text-center">Sử dụng tài khoản email của bạn</p>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<input type="text" name="loginEmail" class="form-control required" placeholder="Email"
														value ="<%if(typeof inputData === 'object'){%><%-inputData.email%><%}%>"
														required>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<input type="password" name="loginPassword" class="form-control required" placeholder="Password" required>
													</div>
												</div>
												<div class="col-md-12">
													<a href="/forgotpassword">Bạn quên mật khẩu?</a>
												</div>
											</div>
											<div class="row">
												<div class="col-12 clearfix mt-2">
													<span>
														<a href="/register" class="float-left">Tạo tài khoản</a>
													</span>
													<button type="submit" name="process" class="submit btn_login float-right">Đăng nhập</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End middle-wizard -->

								<%if(typeof error === "string"){%>
									<div class="col-12 alert alert-danger mt-2" role="alert">
										<%-error%>
									</div>
								<%}%>
								<!-- End notification -->

                				<hr class="my-3"/>
								<p class="text-center my-2">© 2019 P/D</p>

							</form>
							<!-- End form -->

						</div>
					</div>
					<!-- End col -->

				</div>
				<!-- End row -->

			</div>
			<!-- End form_container -->

		</div>
	</main>
	<!-- End main-->

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- cd-overlay-content -->

	<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>

	<%include ../../partials/common/notification.ejs%>

	<!-- BASE JS -->
    <%include ../../include/auth/js.ejs%>

	<script>
		jQuery(document).ready(function($){
		<%if(typeof notify === 'string'){%>
			$('#modelRegisterSuccess').modal('show');
		<%}%>
		})
	</script>
</body>
</html>