
            <!-- Login -->
            <div class="register_form_container">
                <div class="register_form_title">Login</div>
                <form action="/auth/login" id="register_form" class="register_form" method = "POST">
                    <div class="row register_row">
                        <div class="col-lg-12 register_col">
                            <%if(typeof activeError === "string" && activeError){%>
                                <p class="alert alert-warning"><%=activeError%></p>
                            <%}%>
                            <input type="text" class="form_input" placeholder="Username" required="required" name="loginUsername"
                            value="<%if(typeof inputData === 'object'){%><%=inputData.username%><%}%>">
                            <%if(typeof usernameError === 'string' && usernameError.length>0){%>
                                <i class="fa fa-exclamation-circle text-danger"> <%=usernameError%></i>
                            <%}%>
                        </div>
                        <div class="col-lg-12 register_col">
                            <input type="password" class="form_input" placeholder="Password" required="required" name="loginPassword">
                            <%if(typeof passwordError === 'string' && passwordError.length>0){%>
                                <i class="fa fa-exclamation-circle text-danger"> <%=passwordError%></i>
                            <%}%>
                        </div>
                        <div class="col-lg-12 register_col">
                            Don't have account? <a href="/auth/register">Register here</a><br>
                            Forgot password? <a href="/auth/forgotpassword">Click here</a>
                            <button type="submit" class="form_button trans_200">Login Now</button>
                        </div>
                    </div>
                </form>
            </div>
