<div class="instructors">
<div class="instructors_background" style="background-image:url(images/instructors_background.png)"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="section_title text-center">About me</h2>
        </div>
    </div>
        <!-- Instructor -->
        <div class="col-lg-12 instructor_col">
            <div class="instructor text-center">
                <div class="instructor_image_container">
                    <div class="instructor_image"><img src="images/instructor_2.jpg" alt=""></div>
                </div>
                <div class="instructor_name"><a href="instructors.html">PhongA</a></div>
                <div class="instructor_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor.</p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

