<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="P/D | Chuyến bay">
	<meta name="author" content="Airplane-Ticket">
	<title>P/D | Chuyến bay</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

	<!-- BASE CSS -->
    <%include ../../include/auth/css.ejs%>

</head>

<body style="background: none">

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->

    <%include ../../partials/common/header-auth.ejs%>
    <!-- End header-->


    <!-- ===================================== -->
    <!-- ======= Start Flight list =========== -->
    <!-- ===================================== -->

    <section>

        <div class="col-12 flight-list">
            <div class="container">

                <div class="row">
                    <h2 class="col-12 text-center">Danh sách các chuyến bay</h2>
                </div>
                <!-- End row-->

                <hr/>

                <div class="row">

                    <div class="col-lg-10">
                        <p class="margin-0">Thứ 2, 30 tháng 6 2019</p>
                        <p class="margin-0">1 người  &nbsp;|&nbsp;  Phổ thông</p>
                    </div>

                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary search-btn">Đổi tìm kiếm</button>
                    </div>

                    <div class="search-container" style="display:none;">
                        <%include ../../partials/common/search.ejs%>
                    </div>

                </div>
                <!-- End row-->

                <hr/>

                <!-- Start ticket -->
                <%include ../../partials/common/ticket.ejs%>
                <!-- End ticket -->

            </div>
        </div>
        <!-- End flight-list -->

    </section>
    
    <!-- ===================================== -->
    <!-- ========= End Flight list =========== -->
    <!-- ===================================== -->



	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- cd-overlay-content -->

	<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>


    <%include ../../include/auth/js.ejs%>

</body>
</html>