<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="P/D | Chuyến bay">
	<meta name="author" content="Airplane-Ticket">
	<title>P/D | Chuyến bay</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

	<!-- BASE CSS -->
  <%include ../../include/auth/css.ejs%>

</head>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
  <!-- End preload -->

	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div>
  <!-- End loader_form -->

  <%include ../../partials/common/header-auth.ejs%>
  <!-- End header -->

  <section>
    <div class="bg-payment"></div>
    <div class="col-12">
      <div class="container-payment">

        <div class="row">

            <div class="col-lg-12">
                <div class="top-detail">
                    <div class="top-info">
                        <h3>Flight from Hanoi to Ho Chi Minh City</h3>
                        <div>
                            <svg stroke-width="0" width="16" height="16" viewBox="0 0 16 16" fill="#30C5F7" stroke="currentColor" stroke-linecap="round" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M7.97519062,3.89887963 L9.29787304,4.16341611 L12.5147829,1.36408588 C13.1061887,0.849449082 14.0084562,0.88578563 14.5615507,1.43888015 C15.115568,1.99289744 15.1490535,2.89645793 14.6363449,3.48564789 L11.8370147,6.70255777 L12.1015995,8.0254816 C12.3855429,7.83462442 12.7707202,7.86198761 13.0214373,8.11270469 C13.3049644,8.39623173 13.3072037,8.85368053 13.0166276,9.14425665 L12.4405667,9.72031757 L13.2199838,13.6174035 C13.3846893,14.4409306 12.2524962,14.840115 11.8642747,14.0953943 L9.22619986,9.03480726 L7.3146526,10.7330129 C7.17480341,10.8449531 6.97654708,10.9616287 6.7182918,11.0354403 C6.66582359,11.0504362 6.61309154,11.0627362 6.56025805,11.072242 L6.56025805,14.2731581 C6.56025805,15.0095007 5.59053285,15.278099 5.21168772,14.6466905 L3.76495746,12.2354734 L1.35374034,10.7887431 C0.722331805,10.409898 0.990930136,9.44017277 1.7272727,9.44017277 L4.92818886,9.44017277 C4.93769465,9.38733928 4.9499946,9.33460722 4.96499048,9.28213902 C5.0388021,9.02388374 5.15547775,8.8256274 5.29159003,8.65712805 L6.96538742,6.77410785 L1.90503647,4.13615614 C1.16031582,3.74793462 1.55950022,2.61574155 2.38302735,2.78044697 L6.28011324,3.55986415 L6.85617417,2.98380322 C7.14235754,2.69761985 7.60222239,2.69348977 7.88772612,2.9789935 C8.13710273,3.22837011 8.16887219,3.61229444 7.97519062,3.89887963 L7.97519062,3.89887963 Z"></path></svg>
                            <span>Hanoi (HAN) → Ho Chi Minh City (SGN)  • 3 Jun 2019  • 1 Adult  • Economy </span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            
            <div class="col-lg-8">
                <div class="middle-detail">

                    <div class="top-md-detail">
                        <div class="top-md-title">
                            <span class="top-md-icon">
                                <svg stroke-width="0" width="32" height="32" viewBox="0 0 16 16" fill="#30C5F7" stroke="currentColor" stroke-linecap="round" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M7.97519062,3.89887963 L9.29787304,4.16341611 L12.5147829,1.36408588 C13.1061887,0.849449082 14.0084562,0.88578563 14.5615507,1.43888015 C15.115568,1.99289744 15.1490535,2.89645793 14.6363449,3.48564789 L11.8370147,6.70255777 L12.1015995,8.0254816 C12.3855429,7.83462442 12.7707202,7.86198761 13.0214373,8.11270469 C13.3049644,8.39623173 13.3072037,8.85368053 13.0166276,9.14425665 L12.4405667,9.72031757 L13.2199838,13.6174035 C13.3846893,14.4409306 12.2524962,14.840115 11.8642747,14.0953943 L9.22619986,9.03480726 L7.3146526,10.7330129 C7.17480341,10.8449531 6.97654708,10.9616287 6.7182918,11.0354403 C6.66582359,11.0504362 6.61309154,11.0627362 6.56025805,11.072242 L6.56025805,14.2731581 C6.56025805,15.0095007 5.59053285,15.278099 5.21168772,14.6466905 L3.76495746,12.2354734 L1.35374034,10.7887431 C0.722331805,10.409898 0.990930136,9.44017277 1.7272727,9.44017277 L4.92818886,9.44017277 C4.93769465,9.38733928 4.9499946,9.33460722 4.96499048,9.28213902 C5.0388021,9.02388374 5.15547775,8.8256274 5.29159003,8.65712805 L6.96538742,6.77410785 L1.90503647,4.13615614 C1.16031582,3.74793462 1.55950022,2.61574155 2.38302735,2.78044697 L6.28011324,3.55986415 L6.85617417,2.98380322 C7.14235754,2.69761985 7.60222239,2.69348977 7.88772612,2.9789935 C8.13710273,3.22837011 8.16887219,3.61229444 7.97519062,3.89887963 L7.97519062,3.89887963 Z"></path></svg>
                            </span>
                            <h4 style="display: inline-block">
                                <div>
                                Hanoi (HAN)
                                <i class="fas fa-long-arrow-alt-right"></i>
                                H. C. M. City (SGN)
                                </div>
                            </h4>
                        </div>
                    </div>

                    <div class="middle-info">
                        <h4>Mon, 3 Jun 2019</h4>
                        <div class="info">
                            <div class="info-img" style="background-image: url(&quot;https://tvlk.imgix.net/imageResource/2015/12/17/1450350670702-a9dba44d3e9fe096f83ffe00d56a99ec.png?auto=compress%2Cformat&amp;cs=srgb&amp;fm=png&amp;ixlib=java-1.1.12&amp;q=75&quot;);"></div>
                            <div class="info-airplane" style="margin: 0 0 0 1rem">
                                <p class="margin-0"><span>VietJet Air VJ-119</span></p>
                                <strong>Economy</strong>
                            </div>
                        </div>
                        <div class="info-time">
                            <div class="info-airplane">
                                <strong>05:00</strong>
                                <p class="margin-0"><span>Hanoi (HAN)</span></p>
                            </div>
                            <div class="info-airplane">
                               <i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                                <div class="info-airplane">
                                <strong>05:00</strong>
                                <p class="margin-0"><span>Hanoi (HAN)</span></p>
                            </div>
                            <div class="info-airplane">
                                <strong>05:00</strong>
                                <p class="margin-0"><span>Bay thẳng</span></p>
                            </div>
                        </div>
                    </div>

                </div> 
            </div>
            <!-- End col -->

            <div class="col-lg-4">

                <div class="right-detail">
                    <div class="top-md-detail">
                        <div class="top-md-title">
                            <h4 style="display: inline-block; margin-left:1rem">
                                Price Details
                            </h4>
                        </div>
                    </div>

                    <div class="row px-3">
                        
                        <div class="mx-3 my-2">
                            <p>VietJet Air (Adult) x1</p>
                            <p class="margin-0">Baggage HAN - SGN</p>
                        </div>
               
                        <div class="mx-3 my-2">
                            <p>VND 1.302.375</p>
                            <p class="margin-0">VND 0</p>
                        </div>

                    </div>

                    <div class="total-price clearfix">
                        <p style="padding: 1rem;">
                            <span>Tổng tiền</span>
                            <span class="float-right">VND 1.302.375</span>
                        </p>
                    </div>
                </div>

                <div class="bottom-detail text-center">
                    <p class="py-3">Thanh toán</p>
                </div>

            </div> 
            <!-- End col -->

        </div>
        <!-- End row -->

        <hr/>

        <div class="row">

        
        </div>
        <!-- End row -->

      </div>
    </div>
  </section>
  <!-- End flight list -->

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- cd-overlay-content -->

	<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>

	<!-- BASE JS -->
  <%include ../../include/auth/js.ejs%>

</body>
</html>